# Terraform
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
!example.tfvars

# Secrets
*.pem
*.key
secrets/
.env
terraform/root/terraform.tfvars

# Kops
kops/secrets/

# OS
.DS_Store
task.md
terraform.tfvars
*.zip
k8s/secrets.yaml